<!DOCTYPE html>





<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sideBar></sideBar>
    <navBar></navBar>
   

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}} </h1>
                    
                    <p>This application uses data from a pokemonAPI to gather data about individual pokemon in the fist Generation.</p>
                    <p>The abilities page is incomplete </p>
                    <p>The data is displayed on the Pokemon page. But i had a problem with data binding the dropdwon with the readOne</p>

                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
            <br>
            <footer-generic></footer-generic>
        </div>
        
    </div>
    
</div>


<style>
    body{
    background-image: url(http://www.walldevil.com/wallpapers/a48/pokemon.jpg);
    }
</style>

